## 忽略 vscode 
.vscode/*
!.vscode/*.json

**/build/*
!docker/build/
!docker/build/**
docker/logs/

# install/bin
# install/common
# install/log
# install/map
# install/

ros1/.catkin_tools
ros1/build
ros1/devel
ros1/logs

ros2/build
ros2/install
ros2/log

# third_party/
third_tools/

modules/drivers/lidar/
modules/drivers/rgbd/

modules/tools/camera_calibration/

# tools/common/
tools/az_toolkit/
tools/waymo_toolkit/
tools/data_label/

tools/capture_record/moc/
tools/capture_record/pro/ui/
tools/capture_record/rm1000/
tools/mmpose_inference_gui/moc/
tools/mmpose_inference_gui/pro/ui/

tools/data_processor/ros1_message/
tools/data_processor/rs_driver/ros1/*
!tools/data_processor/rs_driver/ros1/src/
tools/data_processor/rs_driver/ros1/src/*
!tools/data_processor/rs_driver/ros1/src/rslidar_sdk-1.5.19

tools/data_processor/ros2_message/
tools/data_processor/rs_driver/ros2/*
!tools/data_processor/rs_driver/ros2/src/
tools/data_processor/rs_driver/ros2/src/*
!tools/data_processor/rs_driver/ros2/src/rslidar_sdk-1.5.19

*.pro.user
*.qtc_clangd
*.qmake.stash
Makefile

__pycache__